/* font-family: "Inter", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  width: 139px;
  padding: 16px 0;
}

#menu {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 34px;
}

#menu h4 {
  font-weight: 600;
  font-size: 16px;
}

.btn {
  color: white;
  background-color: #30B868;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}

#banner {
  background-image: url(images/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 120px;
  padding-top: 115px;
  padding-bottom: 179px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#badge {
  background: white;
  color: #30B868;
  padding: 8px 20px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 22px;
}

#heading h1 {
  font-size: 56px;
  margin-bottom: 15px;
}

#white {
  color: white;
  display: block;
}

#green {
  color: #30B868;
  display: block;
}

.text {
  color: white;
  max-width: 620px;
  margin-bottom: 22px;
}

.text p {
  line-height: 30px;
}

.btn-2 {
  margin-left: 16px;
  background: transparent;
  border: 1px solid white;
}

#notes {
  margin-top: 40px;
  margin-bottom: 50px;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
}

.subtitle h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.subtitle p {
  color: #627382;
  font-size: 16px;
  margin-bottom: 20px;
}

#card-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex: 1;
}

.card {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding: 60px 5px;
}

.icon {
  text-align: center;
  width: 60px;
  padding: 8px;
  background-color: #F95555;
  border-radius: 50%;
  margin-bottom: 15px;
}

.icon img {
  width: 32px;
}

.card h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.card p {
  color: #627382;
}

#brain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-bottom: 110px;
}

#brain-img img {
  width: 500px;
}

#text-section {
  margin-top: 20px;
}

#text-section * {
  margin-bottom: 15px;
}

#text-section h4 {
  color: #30B868;
  font-size: 16px;
}

#text-section h1 {
  color: #001931;
  font-size: 40px;
}

#text-section p {
  color: #627382;
  font-size: 16px;
}

#item-list .item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item h5 {
  color: #001931;
  font-size: 15px;
  font-weight: 600;
}

#early-access {
  background-color: #F7F6F2;
  text-align: center;
  padding: 70px 0;
  border-radius: 10px;
  margin-bottom: 80px;
}

#early-access * {
  margin-bottom: 15px;
}

#early-access h1 {
  color: #001931;
  font-size: 37px;
}

#early-access p {
  color: #001931;
}

#footer {
  background-color: #001931;
}

#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}

.social-section h3 {
  color: white;
  margin-bottom: 8px;
}

.social-icons{
  display: flex;
  gap: 10px;
}

.social-icons a{
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #0a2540;
  font-weight: bold;
}