/* font-family: "Inter", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  width: 139px;
  padding: 16px 0;
}

#menu {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 34px;
}

#menu h4 {
  font-weight: 600;
  font-size: 16px;
}

.btn{
  color: white;
  background-color: #30B868;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}

#banner {
  background-image: url(images/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 120px;
  padding-top: 115px;
  padding-bottom: 179px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#badge {
  background: white;
  color: #30B868;
  padding: 8px 20px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 22px;
}
#heading h1{
  font-size: 56px;
  margin-bottom: 15px;
}

#white{
   color: white;
   display: block;
}
#green{
  color: #30B868;
  display: block;
}
.text{
  color: white;
  max-width: 620px;
  margin-bottom: 22px;
}

.text p{
  line-height: 30px;
}

.btn-2{
  margin-left: 16px;
  background: transparent;
  border: 1px solid white;
}
