/* font-family: "Inter", sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nav-bar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#logo{
  width: 139px;
  padding: 16px 0;
}

#menu{
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 34px;
}
#menu h4{
   font-family: "Inter", sans-serif;
   font-weight: 600;
   font-size: 16px;
}

.btn button{
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #30B868;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}